<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ==" crossorigin="anonymous" />
    <title>API Login</title>
</head>
<body>
    <h1>Login</h1>

    <form action="/users/login" method="POST">
        <div>
            <input 
            type="text" 
            name="username" 
            id="username" 
            placeholder="Username" required>
        </div>
        <div>
            <input 
            type="email" 
            name="email" 
            id="email" 
            placeholder="Email" required>
        </div>
        <div>
            <input 
            type="password" 
            name="password" 
            id="password" 
            placeholder="Password" required>
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
        <a href="/users/register"> Regístrate</a>
    </form>
</body>
</html>